@use '../abstract/' as a;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: a.$ft-default;
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

img {
  padding-right: 1rem;
}